<? /** @var Laminas\View\Renderer\PhpRenderer $this */ ?>

<?
$this->headTitle($this->translate('departments.title'));
?>

<div class="page-head">
    <div class="title">
        <h2><?= $this->translate('departments.title') ?></h2>
        <span class="title-total">(<?= $this->departments->getTotalItemCount()?>)</span>
    </div>
    <div class="toolbar">
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="px-3 py-1">#</th>
            <th class="px-3 py-1"><?= $this->translate('departments.table.name')?></th>
        </tr>
    </thead>
    <tbody>
        <? foreach ($this->departments as $department): ?>
            <? /** @var \Application\Entity\Department $department */ ?>
            <tr>
                <td class="px-3 py-1"><?= $department->getId() ?></td>
                <td class="px-3 py-1"><?= $department->getName() ?></td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>

<?= $this->paginationControl(
    $this->departments,
    'Sliding',
    '_shared/pagination',
    ['route' => 'departments']
) ?>

<style>
</style>
