<? /** @var Laminas\View\Renderer\PhpRenderer $this */ ?>

<?
$this->headTitle($title = $this->translate('users.edit.title_start') . " #{$this->user->getId()}: " . $this->user->getFio()->toString());

$this->form->setAttribute('action', $this->url('users/edit', ['id' => $this->user->getId()]));
?>

<div class="page-head">
    <div class="title">
        <h2><?= $title ?></h2>
    </div>
    <div class="toolbar">
        <button type="button" class="btn btn-primary" onclick="document.getElementById('user-edit').submit()">
            <?= $this->translate('users.edit.save') ?>
        </button>
        <a href="<?= $this->url('users/delete', ['id' => $this->user->getId()]) ?>">
            <button type="button" class="btn btn-danger" onclick="return confirm(`<?= $this->translate('users.edit.delete.confirm') ?>`)">
                <?= $this->translate('users.edit.delete') ?>
            </button>
        </a>
    </div>
</div>

<div class="form-wrapper">

    <?= $this->form()->openTag($this->form)?>

    <div class="row">

        <div class="col-sm">

            <div class="form-group">
                <label for="last_name"><?= $this->translate('users.edit.last_name') ?></label>
                <?= $this->formRow($this->form->get('last_name')->setAttributes([
                    'id' => 'last_name',
                    'class' => 'form-control',
                ])) ?>
            </div>

            <div class="form-group">
                <label for="first_name"><?= $this->translate('users.edit.first_name') ?></label>
                <?= $this->formRow($this->form->get('first_name')->setAttributes([
                    'id' => 'first_name',
                    'class' => 'form-control',
                ])) ?>
            </div>

            <div class="form-group">
                <label for="middle_name"><?= $this->translate('users.edit.middle_name') ?></label>
                <?= $this->formRow($this->form->get('middle_name')->setAttributes([
                    'id' => 'middle_name',
                    'class' => 'form-control',
                ])) ?>
            </div>

        </div>

        <div class="col-sm">

            <div class="form-group">
                <label for="birth_date"><?= $this->translate('users.edit.birth_date') ?></label>
                <?= $this->formRow($this->form->get('birth_date')->setAttributes([
                    'id' => 'birth_date',
                    'class' => 'form-control',
                ])) ?>
            </div>

            <div class="form-group">
                <label for="birth_place"><?= $this->translate('users.edit.birth_place') ?></label>
                <?= $this->formRow($this->form->get('birth_place')->setAttributes([
                    'id' => 'birth_place',
                    'class' => 'form-control',
                ])) ?>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm">

            <div class="form-group">
                <label for="departments"><?= $this->translate('users.edit.departments') ?></label>
                <div class="form-control multicheckbox">
                    <?= $this->formRow($this->form->get('departments')->setAttributes([])) ?>
                </div>
            </div>

        </div>

    </div>

    <?= $this->form()->closeTag($this->form)?>

</div>

<style>
.multicheckbox {
    height: fit-content;
}
.multicheckbox > label {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}
.multicheckbox > label:not(:first-of-type) {
    margin-top: 8px;
}
.multicheckbox input[type=checkbox] {
    width: 16px;
    height: 16px;
}

select {
    appearance: none;
}
</style>
