<? /** @var Laminas\View\Renderer\PhpRenderer $this */ ?>

<?
$this->headTitle($this->translate('users.title'));
?>

<div class="page-head">
    <div class="title">
        <h2><?= $this->translate('users.title') ?></h2>
        <span class="title-total">(<?= $this->users->getTotalItemCount()?>)</span>
    </div>
    <div class="toolbar">
        <a href="<?= $this->url('users/create') ?>">
            <button type="button" class="btn btn-primary"><?= $this->translate('users.add') ?></button>
        </a>
    </div>
</div>

<table class="table table-bordered row-is-link">
    <thead class="thead-dark">
        <tr>
            <th class="px-3 py-1">#</th>
            <th class="px-3 py-1"><?= $this->translate('users.table.fio') ?></th>
            <th class="px-3 py-1"><?= $this->translate('users.table.age') ?></th>
            <th class="px-3 py-1"><?= $this->translate('users.table.departments') ?></th>
        </tr>
    </thead>
    <tbody>
        <? foreach ($this->users as $user): ?>
            <? /** @var \Application\Entity\User $user */ ?>
            <tr onclick="location.href = `<?= $this->url('users/edit', ['id' => $user->getId()]) ?>`">
                <td class="px-3 py-1"><?= $user->getId() ?></td>
                <td class="px-3 py-1"><?= $user->getFio()->toString(); ?></td>
                <td class="px-3 py-1"><?= $user->getAge()?->toString() ?? $this->translate('users.table.age_unknown') ?></td>
                <td class="px-3 py-1">
                    <? if ($user->getDepartments()->count() > 0): ?>
                        <?= join(', ', array_map(fn($d) => $d->getName(), $user->getDepartments()->toArray())); ?>
                    <? else: ?>
                        <?= $this->translate('users.table.no_departments') ?>
                    <? endif; ?>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>

<?= $this->paginationControl(
    $this->users,
    'Sliding',
    '_shared/pagination',
    ['route' => 'users']
) ?>

<style>
</style>
