<? /** @var Laminas\View\Renderer\PhpRenderer $this */ ?>

<?
$this->headTitle($this->translate('places.title'));
?>

<div class="page-head">
    <div class="title">
        <h2><?= $this->translate('places.title') ?></h2>
        <span class="title-total">(<?= $this->places->getTotalItemCount()?>)</span>
    </div>
    <div class="toolbar">
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="px-3 py-1">#</th>
            <th class="px-3 py-1"><?= $this->translate('places.table.address') ?></th>
        </tr>
    </thead>
    <tbody>
        <? foreach ($this->places as $place): ?>
            <? /** @var \Application\Entity\Place $place */ ?>
            <tr>
                <td class="px-3 py-1"><?= $place->getId() ?></td>
                <td class="px-3 py-1"><?= $place->getAddress() ?></td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>

<?= $this->paginationControl(
    $this->places,
    'Sliding',
    '_shared/pagination',
    ['route' => 'places']
) ?>

<style>
</style>
