:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-item {
    padding: 0.5rem;
}

.nav-item.active {
    background: #092c4a;
}

.navbar-dark .navbar-nav .nav-item:not(.active) .nav-link {
    color: rgba(255,255,255,.7) !important;
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.custom-pagination {
    display: flex;
    align-items: center;
    border: 1px solid #dbdbdb;
    width: fit-content;
}

.custom-pagination > * {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-pagination > *:not(:first-child) {
    border-left: 1px solid #dbdbdb;
}

.custom-pagination > a:hover {
    text-decoration: none;
    background: #e9e9e9;
}

.custom-pagination .arrow {
    font-size: 11px;
    padding-bottom: 1px;
}

.custom-pagination > span.arrow {
    opacity: .4;
    cursor: not-allowed;
}

.custom-pagination span.current {
    background: #2e538fe8;
    color: white;
}

.page-head {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-head .title {
    display: flex;
    align-items: center;
}

.page-head .title .title-total {
    margin-left: 20px;
    opacity: .7;
}

.page-head .toolbar {
    gap: 10px;
    display: flex;
}

table.row-is-link tbody tr:hover {
    background: #ebebeb;
    cursor: pointer;
    position: relative;
}

table.row-is-link tr:hover td:last-of-type::after {
    content: '❯❯';
    position: absolute;
    right: 10px;
    top: 48%;
    font-size: 11px;
    opacity: .3;
    transform: translateY(-50%);
    letter-spacing: -2px;
}

.form-group ul {
    padding-left: 0;
    list-style: none;
    color: red;
    font-size: 12px;
    margin: 6px 0;
}

.navbar-collapse {
    justify-content: space-between;
}

.locale {
    width: 32px;
    height: 24px;
    border: 1px solid white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.locale.ru_RU {
    background-image: url('/img/ru.svg');
}

.locale.en_US {
    background-image: url('/img/en.svg');
}
