<?php if ($this->pageCount > 0): ?>

    <nav class="custom-pagination">

        <?php if (isset($this->previous)): ?>
            <a href="<?= $this->url($this->route, [], ['query'=>['page'=>$this->previous]]); ?>" aria-label="Previous">
                <span aria-hidden="true" class="arrow">❮</span>
            </a>
        <?php else: ?>
            <span aria-hidden="true" class="arrow">❮</span>
        <?php endif; ?>

        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?= $this->url($this->route, [], ['query'=>['page'=>$page]]); ?>"><?= $this->escapeHtml($page); ?></a>
            <?php else: ?>
                <span aria-hidden="true" class="current"><b><?= $this->escapeHtml($page); ?></b></span> 
            <?php endif; ?>
        <?php endforeach; ?>

        <?php if (isset($this->next)): ?>
            <a href="<?php echo $this->url($this->route, [], ['query'=>['page'=>$this->next]]); ?>" aria-label="Next">
                <span aria-hidden="true" class="arrow">❯</span>
            </a>
        <?php else: ?>
            <span aria-hidden="true" class="arrow">❯</span>      
        <?php endif; ?>

    </nav>

<?php endif; ?>
