<? /** @var Laminas\View\Renderer\PhpRenderer $this */ ?>

<?
use Laminas\Http\Header\Cookie;
?>

<?= $this->doctype() ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('TS test app')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink([
                                'rel' => 'shortcut icon',
                                'type' => 'image/vnd.microsoft.icon',
                                'href' => $this->basePath() . '/img/favicon.ico'
                            ])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
?>

        <!-- Scripts -->
        <?= $this->headScript() ?>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item <?= ($this->url() == $this->url('home') ? 'active' : '') ?>">
                            <a class="nav-link" href="<?= $this->url('home') ?>">
                                <?= $this->translate('layout.navbar.task') ?>
                            </a>
                        </li>
                        <li class="nav-item <?= (in_array($this->url(), [$this->url('users'), $this->url('users/edit'), $this->url('users/create')]) ? 'active' : '') ?>">
                            <a class="nav-link" href="<?= $this->url('users') ?>">
                                <?= $this->translate('layout.navbar.users') ?>
                            </a>
                        </li>
                        <li class="nav-item <?= (in_array($this->url(), [$this->url('places')]) ? 'active' : '') ?>">
                            <a class="nav-link" href="<?= $this->url('places') ?>">
                                <?= $this->translate('layout.navbar.places') ?>
                            </a>
                        </li>
                        <li class="nav-item <?= (in_array($this->url(), [$this->url('departments')]) ? 'active' : '') ?>">
                            <a class="nav-link" href="<?= $this->url('departments') ?>">
                                <?= $this->translate('layout.navbar.departments') ?>
                            </a>
                        </li>
                    </ul>
                    <a class="locale <?= $this->locale ?>" href="<?= $this->url('locale') ?>"></a>
                </div>
            </div>
        </nav>
        <div class="container my-4">
            <?= $this->content ?>
        </div>
        <?= $this->inlineScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-3.5.1.min.js')) ?>
    </body>
</html>
