<? /** @var Laminas\View\Renderer\PhpRenderer $this */ ?>

<?
$this->headTitle($this->translate('index.title'));
?>

<div class="jumbotron">
    <h1 class="display-7"><?= $this->translate('index.jumbotron.title') ?></h1>

    <hr class="my-4">

    <pre>
С использованием фреймворка https://docs.laminas.dev/mvc/ реализовать:
1. CRUD создания пользователя (ФИО, дата рождения, место рождения). Место рождения - справочник в БД, заполненный вручную.
2. На другой странице должна быть возможность добавить сотрудника в отдел. Отделы - справочник в БД, заполненный так же вручную (при создании бд). Сотрудника так же можно удалить из отдела. Один сотрудник может быть в нескольких отделах.
3. Реализовать мультиязычность (русский, английский). Переключать можно на любой странице. Язык сохраняется после перезагрузки.
Приложить схему созданной БД, либо скрипт создания.
    </pre>

    <hr class="my-4">

    <a class="btn btn-primary btn-md" href="https:/gitlab.com/dmitryBezmenov/test_ts" target="_blank">
        <?= $this->translate('index.jumbotron.source_code') ?> &nbsp; &raquo;
    </a>
</div>

